.App {
  text-align: center;
}
.spinner-item{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 580px){
  .spinner-item lottie-player{
    width: 100% !important;
  }
}

body::-webkit-scrollbar {
  background-color: #282c34;
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #2b7fcb;
  outline: 1px solid #282c34;
  border-radius: 10px;
}
